#choose-key-dialog .modal-body, .key-container {
    overflow: hidden;
}

.key-container {
    background-image: url(../img/webee.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 463px;
    width: 713px;
}

.keyboard-image {
    position: absolute;
    left: 0px;
    top: 30px;
}

.comfykey {
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.25em;
    background: rgba(110, 155, 255, 0.9);
    position: absolute;
    box-shadow: inset 0px 0px 5px 2px  white;
    z-index: 100;
    cursor: pointer;
}

.comfykey.assigned {
    background: rgba(20, 195, 20, 0.7)
}

.comfykey:hover {
    box-shadow: 0 0 10px 5px  yellow;
}
.comfykey[data-id="red"] {
    top: 207px;
    left: 372px;
}
.comfykey[data-id="yellow"] {
    top: 185px;
    left: 290px;
}
.comfykey[data-id="blue"] {
    top: 161px;
    left: 217px;
}
.comfykey[data-id="green"] {
    top: 230px;
    left: 450px;
}

